# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.wireless_imu_adapter
    bool "wireless_imu"
    select MCUX_COMPONENT_driver.gdma
    select MCUX_COMPONENT_driver.imu
    select MCUX_COMPONENT_component.osa
