# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.reset_adapter
    bool "Enable component.reset_adapter"
    default n
    help
        Enable component.reset_adapter component
    
