# Memory controller configuration options

# Copyright (c) 2020 Teslabs Engineering S.L.
# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

rsource "Kconfig.gen_hal"

menuconfig MEMC
	bool "Memory controller drivers [EXPERIMENTAL]"
	select EXPERIMENTAL
	select MCUX_COMPONENT_component.gen_hal.memc
	help
	  Add support for memory controllers

if MEMC

config MEMC_INIT_PRIORITY
	int "Initialization priority"
	default 80 if MSPI
	default 0
	help
	  Memory controllers initialization priority.

rsource "Kconfig.mcux"

module = MEMC
module-str = memc
endif
