# Memory controller configuration options

# Copyright (c) 2020 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

config MCUX_COMPONENT_component.gen_hal.memc
	bool

config MCUX_COMPONENT_component.gen_hal.memc.flexspi
	bool
    depends on DT_HAS_NXP_IMX_FLEXSPI_ENABLED


menuconfig MEMC
	bool "Memory controller drivers [EXPERIMENTAL]"
	select EXPERIMENTAL
	select MCUX_COMPONENT_component.gen_hal.memc
	help
	  Add support for memory controllers

if MEMC

config MEMC_INIT_PRIORITY
	int "Initialization priority"
	default 0
	help
	  Memory controllers initialization priority.

rsource "Kconfig.mcux"

endif
