# Copyright 2024-2025 NXP
# SPDX-License-Identifier: Apache-2.0

config MCUX_HAS_COMPONENT_driver.cmsis_vusart
    bool
    default y if MCUX_HW_IP_DriverType_LPC_USART

config MCUX_COMPONENT_driver.cmsis_vusart
    bool "vusart"
    select MCUX_COMPONENT_driver.vusart
    select MCUX_COMPONENT_CMSIS_Driver_Include.USART
    select MCUX_COMPONENT_device.RTE
    select MCUX_COMPONENT_driver.vusart_dma
    depends on MCUX_HAS_COMPONENT_driver.cmsis_vusart
