# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.eth_phy_common
    bool
    select MCUX_COMPONENT_driver.common

config MCUX_COMPONENT_component.phyrtl8211f
    bool "rtl8211f"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phyaqr113c
    bool "aqr113c"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phyksz8081
    bool "ksz8081"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phydp8384x
    bool "dp8384x"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phygpy215
    bool "gpy215"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phyksz8041
    bool "ksz8041"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phyar8031
    bool "ar8031"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phylan8720a
    bool "lan8720a"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phyvsc8541
    bool "vsc8541"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phyrtl8201
    bool "rtl8201"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phylan8741
    bool "lan8741"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phytja1100
    bool "tja1100"
    select MCUX_COMPONENT_component.eth_phy_common

config MCUX_COMPONENT_component.phytja1120
    bool "tja1120"
    select MCUX_COMPONENT_component.eth_phy_common
