# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

config LITTLE_ENDIAN
    bool
    default y

config CPU_CORTEX_M33
    bool
    default y if MCUX_HW_CORE_CM33

config CPU_CORTEX_M
    bool
    default y if MCUX_HW_CORE_CM33

config ARM
    bool
    default y if CPU_CORTEX_M

config CPU_HAS_ARM_SAU
    bool
    default y if MCUX_HW_SAU

config CPU_HAS_FPU
    bool
    default y if MCUX_HW_FPU

config ARCH_SUPPORTS_COREDUMP
    bool
    default y if ARM

config HAS_MCUX_CACHE
    bool
    default y if MCUX_HW_IP_DriverType_CACHE64_CTRL
