# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

config MCUX_COMPONENT_component.gen_hal_headers
	bool "Zephyr Headers"
	help
	  Zephyr Headers Adapted to the SDK Environment

menuconfig MCUX_COMPONENT_component.gen_hal
    bool "Generic HAL"
	select MCUX_COMPONENT_component.gen_hal_headers
    help
      Generic HAL based on Zephyr

rsource "Kconfig.map"

if MCUX_COMPONENT_component.gen_hal
	rsource "zephyr/drivers/flash/Kconfig"
	rsource "zephyr/drivers/memc/Kconfig"
	rsource "zephyr/drivers/pinctrl/Kconfig"
	rsource "zephyr/drivers/clock_control/Kconfig"
	osource "components/gen_hal/_boards/${board}/Kconfig"
endif
