# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

menuconfig MCUX_COMPONENT_component.gen_hal
    bool "Generic HAL"
    help
      Generic HAL based on Zephyr

if MCUX_COMPONENT_component.gen_hal

	config MCUX_PRJSEG_module.gen_hal.linker
		bool "Linker for gen_hal projects"
		default n
		help
		If enabled, the default linker will be replaced.

	rsource "zephyr/drivers/flash/Kconfig"
	rsource "zephyr/drivers/memc/Kconfig"
	rsource "zephyr/drivers/pinctrl/Kconfig"
	rsource "zephyr/drivers/clock_control/Kconfig"
	rsource "_boards/${board}/Kconfig"

endif
