# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.hal_pinctrl
    bool "hal pinctrl"
    select MCUX_COMPONENT_driver.iomuxc
    select MCUX_COMPONENT_component.sm_pinctrl

    if MCUX_COMPONENT_component.hal_pinctrl
      choice
        prompt "Component component.hal_pinctrl anyOf 1"
        default MCUX_DEPENDENCY_COMPONENT_component.hal_pinctrl_DEPEND_ANYOF_OPTION_1

        config MCUX_DEPENDENCY_COMPONENT_component.hal_pinctrl_DEPEND_ANYOF_OPTION_1
          bool "imx95"
          select MCUX_COMPONENT_component.hal_pinctrl.imx95

        config MCUX_DEPENDENCY_COMPONENT_component.hal_pinctrl_DEPEND_ANYOF_OPTION_2
          bool "imx943"
          select MCUX_COMPONENT_component.hal_pinctrl.imx943

      endchoice
    endif

config MCUX_COMPONENT_component.hal_pinctrl.imx943
    bool
    depends on MCUX_HW_BOARD_imx943evk

config MCUX_COMPONENT_component.hal_pinctrl.imx95
    bool
    depends on MCUX_HW_BOARD_imx95lpd5evk19 || MCUX_HW_BOARD_imx95lp4xevk15 || MCUX_HW_BOARD_imx95verdinevk
