# Copyright 2026 NXP
# SPDX-License-Identifier: Apache-2.0

config MCUX_HAS_COMPONENT_driver.cmsis_mcx_flash
    bool
    default y if MCUX_HAS_COMPONENT_driver.romapi

config MCUX_COMPONENT_driver.cmsis_mcx_flash
    bool "mcx_flash"
    select MCUX_COMPONENT_driver.romapi_flashiap
    select MCUX_COMPONENT_CMSIS_Driver_Include.Flash
    select MCUX_COMPONENT_device.RTE
    depends on MCUX_HAS_COMPONENT_driver.cmsis_mcx_flash
