# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.audio_flexcomm_i2s_dma_adapter
    bool "audio_flexcomm_i2s_dma"
    select MCUX_COMPONENT_driver.flexcomm_i2s_dma

config MCUX_COMPONENT_component.audio_sai_dma_adapter
    bool "audio_sai_dma"
    select MCUX_COMPONENT_driver.sai_dma

config MCUX_COMPONENT_component.audio_sai_edma_adapter
    bool "audio_sai_edma"
    select MCUX_COMPONENT_driver.sai_edma
