#
# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
#

config MCUX_COMPONENT_middleware.iot_reference.logging
    bool "logging"
    select MCUX_COMPONENT_middleware.freertos-kernel

config MCUX_COMPONENT_middleware.iot_reference.transport_mbedtls
    bool "transport_mbedtls"
    select MCUX_COMPONENT_middleware.freertos.coremqtt
    select MCUX_COMPONENT_middleware.freertos.corepkcs11
    select MCUX_COMPONENT_middleware.iot_reference.logging
    select MCUX_COMPONENT_middleware.pkcs11
    select MCUX_COMPONENT_middleware.lwip
    select MCUX_COMPONENT_middleware.mbedtls

config MCUX_COMPONENT_middleware.iot_reference.transport_mbedtls3x
    bool "transport_mbedtls3x"
    select MCUX_COMPONENT_middleware.freertos.corepkcs11
    select MCUX_COMPONENT_middleware.iot_reference.logging
    select MCUX_COMPONENT_middleware.pkcs11
    select MCUX_COMPONENT_middleware.lwip
    select MCUX_COMPONENT_middleware.mbedtls3x

config MCUX_COMPONENT_middleware.iot_reference.transport_mbedtls_psa
    bool "transport_mbedtls_psa"
    select MCUX_COMPONENT_middleware.lwip
    select MCUX_COMPONENT_middleware.iot_reference.logging
