
config MCUX_COMPONENT_component.hal_reset
    bool "Component component.hal_reset"
    select MCUX_COMPONENT_component.sm_reset
    
    if MCUX_COMPONENT_component.hal_reset
      choice
        prompt "Component component.hal_reset anyOf 1"
        config MCUX_DEPENDENCY_COMPONENT_component.hal_reset_DEPEND_ANYOF_OPTION_1
          bool "Select MCUX_COMPONENT_component.hal_reset.imx943"
          select MCUX_COMPONENT_component.hal_reset.imx943
          select MCUX_COMPONENT_driver.src1
      endchoice
    endif
    
config MCUX_COMPONENT_component.hal_reset.imx943
    bool "Component component.hal_reset.imx943"
    depends on MCUX_HW_BOARD_imx943evk
