# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.exception_handling_cm7
    bool "Enable component.exception_handling_cm7"
    default n
    help
        Enable component.exception_handling_cm7 component
    select MCUX_COMPONENT_utility.debug_console
    
