# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.chip"

config MCUX_COMPONENT_component.silicon_id
    bool "silicon_id"
    select MCUX_COMPONENT_driver.common

    select MCUX_COMPONENT_component.silicon_id_imxrt10xx if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RT10XX
    select MCUX_COMPONENT_component.silicon_id_imxrt1170 if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RT1170
    select MCUX_COMPONENT_component.silicon_id_imxrt1180 if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RT1180
    select MCUX_COMPONENT_component.silicon_id_imx8 if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_IMX8
    select MCUX_COMPONENT_component.silicon_id_imx93 if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_IMX93
    select MCUX_COMPONENT_component.silicon_id_scfw if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_SCFW
    select MCUX_COMPONENT_component.silicon_id_rw610 if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RW610

    select MCUX_COMPONENT_driver.sim if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_SIM
    select MCUX_COMPONENT_driver.iap if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_IAP
    select MCUX_COMPONENT_driver.flashiap if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_FLASHIAP
    select MCUX_COMPONENT_driver.romapi_flashiap if MCUX_DEPENDENCY_COMPONENT_SILICON_ID_ROMAPI_FLASHIAP

config MCUX_COMPONENT_component.silicon_id_imxrt10xx
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RT10XX

config MCUX_COMPONENT_component.silicon_id_imxrt1170
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RT1170

config MCUX_COMPONENT_component.silicon_id_imxrt1180
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RT1180

config MCUX_COMPONENT_component.silicon_id_imx8
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_IMX8

config MCUX_COMPONENT_component.silicon_id_imx93
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_IMX93

config MCUX_COMPONENT_component.silicon_id_scfw
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_SCFW

config MCUX_COMPONENT_component.silicon_id_rw610
    bool
    depends on MCUX_DEPENDENCY_COMPONENT_SILICON_ID_RW610
