# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "Display panel driver"

config MCUX_COMPONENT_driver.ili9341
    bool "Use ili9341 display panel driver"
    select MCUX_COMPONENT_driver.common

config MCUX_COMPONENT_driver.st7796s
    bool "Use st7796s display panel driver"
    select MCUX_COMPONENT_driver.dbi

config MCUX_COMPONENT_driver.ssd1963
    bool "Use ssd1963 display panel driver"
    select MCUX_COMPONENT_driver.dbi

config MCUX_COMPONENT_driver.psp27801
    bool "Use psp27801 display panel driver"
    select MCUX_COMPONENT_driver.common

endmenu