# Copyright 2026 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.eeprom_emulation
    bool "eeprom_emulation"
    select MCUX_COMPONENT_component.eeprom_emulation_flashapi_k4 if MCUX_COMPONENT_driver.flash_k4
    help
      Component for emulating EEPROM-like memory on top of flash memory.

config MCUX_COMPONENT_component.eeprom_emulation_flashapi_k4
    bool "eeprom_emulation_flashapi_k4"
