# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.eeprom_emulation
    bool "eeprom_emulation"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HW_IP_DriverType_FLASH_K4
