# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_utilities.unity
    bool "unity"

menuconfig MCUX_COMPONENT_utilities.gcov
    bool "gcov"

if MCUX_COMPONENT_utilities.gcov
    config MCUX_COMPONENT_utilities.gcov.board_init
        bool "gcov.board_init"

    config MCUX_COMPONENT_utilities.gcov.func
        default y
        bool "Add gcov functions."
        help
            Enable this option to add gcov functions for gcov initialization.
endif
