# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_utilities.unity
    bool "unity"

menuconfig MCUX_COMPONENT_utilities.gcov
    bool "gcov"

if MCUX_COMPONENT_utilities.gcov
    config MCUX_COMPONENT_utilities.gcov.board_init
        bool "gcov.board_init"
endif
