# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.hal_clock
    bool "hal clock"
    select MCUX_COMPONENT_driver.clock
    select MCUX_COMPONENT_component.sm_clock

    if MCUX_COMPONENT_component.hal_clock
      choice
        prompt "porting layers"
        default MCUX_DEPENDENCY_COMPONENT_component.hal_clock_DEPEND_ANYOF_OPTION_1

        config MCUX_DEPENDENCY_COMPONENT_component.hal_clock_DEPEND_ANYOF_OPTION_1
          bool "imx95"
          select MCUX_COMPONENT_component.hal_clock.imx95

        config MCUX_DEPENDENCY_COMPONENT_component.hal_clock_DEPEND_ANYOF_OPTION_2
          bool "imx943"
          select MCUX_COMPONENT_component.hal_clock.imx943

      endchoice
    endif

config MCUX_COMPONENT_component.hal_clock.imx943
    bool
    depends on MCUX_HW_BOARD_imx943evk

config MCUX_COMPONENT_component.hal_clock.imx95
    bool
    depends on MCUX_HW_BOARD_imx95lpd5evk19 || MCUX_HW_BOARD_imx95lp4xevk15 || MCUX_HW_BOARD_imx95verdinevk
