# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "SRTM Endpoint Components"
    choice
        prompt "Choose an option for SRTM Endpoint"
        default MCUX_COMPONENT_component.rpmsg_endpoint
        depends on MCUX_COMPONENT_driver.srtm

        config MCUX_COMPONENT_component.rpmsg_endpoint
            bool "SRTM RPMSG Endpoint"

        config MCUX_COMPONENT_component.mu_endpoint
            bool "SRTM MU Endpoint"

        config MCUX_COMPONENT_component.rpmsg_emu_endpoint
            bool "SRTM RPMSG Emulate Endpoint"
    endchoice
endmenu
