# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "System Manager (SM)"

config MCUX_COMPONENT_component.sm_clock
    bool "clock"
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    select MCUX_COMPONENT_component.sm.smt

    if MCUX_COMPONENT_component.sm_clock
      choice
        prompt "porting layers"
        default MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_1
          bool "imx95_cm33"
          select MCUX_COMPONENT_component.sm.imx95_cm33

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_2
          bool "imx95_cm7"
          select MCUX_COMPONENT_component.sm.imx95_cm7

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_7
          bool "imx95_ca55"
          select MCUX_COMPONENT_component.sm.imx95_ca55

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_3
          bool "imx943_cm33_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_4
          bool "imx943_cm33_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_5
          bool "imx943_cm7_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_clock_DEPEND_ANYOF_OPTION_6
          bool "imx943_cm7_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core1

      endchoice
    endif

config MCUX_COMPONENT_component.sm_pinctrl
    bool "pinctrl"
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    select MCUX_COMPONENT_component.sm.smt

    if MCUX_COMPONENT_component.sm_pinctrl
      choice
        prompt "porting layers"
        default MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_1
          bool "imx95_cm33"
          select MCUX_COMPONENT_component.sm.imx95_cm33

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_2
          bool "imx95_cm7"
          select MCUX_COMPONENT_component.sm.imx95_cm7

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_7
          bool "imx95_ca55"
          select MCUX_COMPONENT_component.sm.imx95_ca55

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_3
          bool "imx943_cm33_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_4
          bool "imx943_cm33_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_5
          bool "imx943_cm7_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_pinctrl_DEPEND_ANYOF_OPTION_6
          bool "imx943_cm7_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core1

      endchoice
    endif

config MCUX_COMPONENT_component.sm_power
    bool "power"
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    select MCUX_COMPONENT_component.sm.smt

    if MCUX_COMPONENT_component.sm_power
      choice
        prompt "porting layers"
        default MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_1
          bool "imx95_cm33"
          select MCUX_COMPONENT_component.sm.imx95_cm33

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_2
          bool "imx95_cm7"
          select MCUX_COMPONENT_component.sm.imx95_cm7

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_7
          bool "imx95_ca55"
          select MCUX_COMPONENT_component.sm.imx95_ca55

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_3
          bool "imx943_cm33_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_4
          bool "imx943_cm33_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_5
          bool "imx943_cm7_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_power_DEPEND_ANYOF_OPTION_6
          bool "imx943_cm7_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core1

      endchoice
    endif

config MCUX_COMPONENT_component.sm_reset
    bool "reset"
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    select MCUX_COMPONENT_component.sm.smt

    if MCUX_COMPONENT_component.sm_reset
      choice
        prompt "porting layers"
        default MCUX_DEPENDENCY_COMPONENT_component.sm_reset_DEPEND_ANYOF_OPTION_2

        config MCUX_DEPENDENCY_COMPONENT_component.sm_reset_DEPEND_ANYOF_OPTION_1
          bool "imx943_cm33_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_reset_DEPEND_ANYOF_OPTION_2
          bool "imx943_cm33_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm33_core1

        config MCUX_DEPENDENCY_COMPONENT_component.sm_reset_DEPEND_ANYOF_OPTION_3
          bool "imx943_cm7_core0"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core0

        config MCUX_DEPENDENCY_COMPONENT_component.sm_reset_DEPEND_ANYOF_OPTION_4
          bool "imx943_cm7_core1"
          select MCUX_COMPONENT_component.sm.imx943_cm7_core1

      endchoice
    endif

config MCUX_COMPONENT_component.sm.imx943_cm33_core0
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    depends on MCUX_HW_BOARD_imx943evk

config MCUX_COMPONENT_component.sm.imx943_cm33_core1
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    depends on MCUX_HW_BOARD_imx943evk

config MCUX_COMPONENT_component.sm.imx943_cm7_core0
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    depends on MCUX_HW_BOARD_imx943evk

config MCUX_COMPONENT_component.sm.imx943_cm7_core1
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    depends on MCUX_HW_BOARD_imx943evk

config MCUX_COMPONENT_component.sm.imx95_cm33
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    depends on MCUX_HW_BOARD_imx95lpd5evk19 || MCUX_HW_BOARD_imx95lp4xevk15 || MCUX_HW_BOARD_imx95verdinevk

config MCUX_COMPONENT_component.sm.imx95_cm7
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi
    depends on MCUX_HW_BOARD_imx95lpd5evk19 || MCUX_HW_BOARD_imx95lp4xevk15 || MCUX_HW_BOARD_imx95verdinevk

config MCUX_COMPONENT_component.sm.imx95_ca55
    bool
    select MCUX_COMPONENT_driver.mu1
    select MCUX_COMPONENT_component.sm.smt
    select MCUX_COMPONENT_component.sm.crc
    select MCUX_COMPONENT_component.sm.scmi

endmenu
