# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "SRTM Basic Components"
    config MCUX_COMPONENT_driver.srtm.freertos
        bool "Component driver.srtm.freertos"

    config MCUX_COMPONENT_driver.srtm
        bool "Component driver.srtm"
        select MCUX_COMPONENT_driver.srtm.freertos
        select MCUX_COMPONENT_middleware.multicore.rpmsg-lite
        select MCUX_COMPONENT_middleware.multicore.rpmsg-lite.ns
endmenu

rsource "channels/Kconfig"
rsource "services/Kconfig"

