# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.iuart_adapter
    bool "Use iuart adapter"
    select MCUX_COMPONENT_driver.iuart
    depends on MCUX_HAS_COMPONENT_driver.iuart
    if MCUX_COMPONENT_component.iuart_adapter
        # config DRIVER_IUART_ADAPTER_CONFIG_DEMO1
        #     bool "Driver IUART_ADAPTER config demo 1"

        # config DRIVER_IUART_ADAPTER_CONFIG_DEMO2
        #     bool "Driver IUART_ADAPTER config demo 2"
    endif


config MCUX_COMPONENT_component.lpsci_adapter
    bool "Use lpsci adapter"
    select MCUX_COMPONENT_driver.lpsci
    depends on MCUX_HAS_COMPONENT_driver.lpsci
    if MCUX_COMPONENT_component.lpsci_adapter
        # config DRIVER_lpsci_ADAPTER_CONFIG_DEMO1
        #     bool "Driver lpsci_ADAPTER config demo 1"

        # config DRIVER_lpsci_ADAPTER_CONFIG_DEMO2
        #     bool "Driver lpsci_ADAPTER config demo 2"
    endif


config MCUX_COMPONENT_component.lpuart_adapter
    bool "Use lpuart adapter"
    select MCUX_COMPONENT_driver.lpuart if MCUX_HAS_COMPONENT_driver.lpuart
    select MCUX_COMPONENT_driver.lpflexcomm_lpuart if MCUX_HAS_COMPONENT_driver.lpflexcomm_lpuart
    depends on MCUX_HAS_COMPONENT_driver.lpuart || MCUX_HAS_COMPONENT_driver.lpflexcomm_lpuart
    if MCUX_COMPONENT_component.lpuart_adapter
        # config DRIVER_lpuart_ADAPTER_CONFIG_DEMO1
        #     bool "Driver lpuart_ADAPTER config demo 1"

        # config DRIVER_lpuart_ADAPTER_CONFIG_DEMO2
        #     bool "Driver lpuart_ADAPTER config demo 2"
    endif


config MCUX_COMPONENT_component.lpuart_dma_adapter
    bool "Use lpuart_dma adapter"
    select MCUX_COMPONENT_component.lpuart_adapter
    select MCUX_COMPONENT_component.timer_manager
    depends on MCUX_HAS_COMPONENT_driver.lpuart
    if MCUX_COMPONENT_component.lpuart_dma_adapter
        # config DRIVER_lpuart_dma_ADAPTER_CONFIG_DEMO1
        #     bool "Driver lpuart_dma_ADAPTER config demo 1"

        # config DRIVER_lpuart_dma_ADAPTER_CONFIG_DEMO2
        #     bool "Driver lpuart_dma_ADAPTER config demo 2"

        choice
            prompt "component.lpuart_dma_adapter anyof dependency"
            default DEPENDENCY_COMPONENT_lpuart_dma_adapter_DEPEND_driver.edma
            config DEPENDENCY_COMPONENT_lpuart_dma_adapter_DEPEND_driver.edma
                bool "driver.lpuart_edma"
                select MCUX_COMPONENT_driver.edma
            config DEPENDENCY_COMPONENT_lpuart_dma_adapter_DEPEND_driver.dma
                bool "driver.lpuart_dma"    
                select MCUX_COMPONENT_driver.dma
        endchoice                
    endif



config MCUX_COMPONENT_component.miniusart_adapter
    bool "Use miniusart adapter"
    select MCUX_COMPONENT_driver.lpc_miniusart
    depends on MCUX_HAS_COMPONENT_driver.lpc_miniusart
    if MCUX_COMPONENT_component.miniusart_adapter
        # config DRIVER_miniusart_ADAPTER_CONFIG_DEMO1
        #     bool "Driver miniusart_ADAPTER config demo 1"

        # config DRIVER_miniusart_ADAPTER_CONFIG_DEMO2
        #     bool "Driver miniusart_ADAPTER config demo 2"
    endif



config MCUX_COMPONENT_component.uart_adapter
    bool "Use uart adapter"
    select MCUX_COMPONENT_driver.uart
    depends on MCUX_HAS_COMPONENT_driver.uart
    if MCUX_COMPONENT_component.uart_adapter
        # config DRIVER_uart_ADAPTER_CONFIG_DEMO1
        #     bool "Driver uart_ADAPTER config demo 1"

        # config DRIVER_uart_ADAPTER_CONFIG_DEMO2
        #     bool "Driver uart_ADAPTER config demo 2"
    endif


config MCUX_COMPONENT_component.usart_adapter
    bool "Use usart adapter"
    select MCUX_COMPONENT_driver.flexcomm_usart
    select MCUX_COMPONENT_driver.flexcomm
    depends on MCUX_HAS_COMPONENT_driver.flexcomm_usart
    if MCUX_COMPONENT_usart_adapter
        # config DRIVER_usart_ADAPTER_CONFIG_DEMO1
        #     bool "Driver usart_ADAPTER config demo 1"

        # config DRIVER_usart_ADAPTER_CONFIG_DEMO2
        #     bool "Driver usart_ADAPTER config demo 2"
    endif


config MCUX_COMPONENT_component.usart_dma_adapter
    bool "Use usart_dma adapter"
    select MCUX_COMPONENT_component.usart_adapter
    select MCUX_COMPONENT_component.timer_manager
    select MCUX_COMPONENT_driver.flexcomm_usart_dma
    depends on MCUX_HAS_COMPONENT_driver.usart
    if MCUX_COMPONENT_component.usart_dma_adapter
        # config DRIVER_usart_dma_ADAPTER_CONFIG_DEMO1
        #     bool "Driver usart_dma_ADAPTER config demo 1"

        # config DRIVER_usart_dma_ADAPTER_CONFIG_DEMO2
        #     bool "Driver usart_dma_ADAPTER config demo 2"              
    endif


config MCUX_COMPONENT_component.vusart_adapter
    bool "Use vusart adapter"
    select MCUX_COMPONENT_driver.vusart
    depends on MCUX_HAS_COMPONENT_driver.vusart
    if MCUX_COMPONENT_component.vusart_adapter
        # config DRIVER_vusart_ADAPTER_CONFIG_DEMO1
        #     bool "Driver vusart_ADAPTER config demo 1"

        # config DRIVER_vusart_ADAPTER_CONFIG_DEMO2
        #     bool "Driver vusart_ADAPTER config demo 2"
    endif



config MCUX_COMPONENT_component.qsci_adapter
    bool "Use qsci adapter"
    select MCUX_COMPONENT_driver.qsci
    depends on MCUX_HAS_COMPONENT_driver.qsci
    if MCUX_COMPONENT_component.qsci_adapter
        # config DRIVER_qsci_ADAPTER_CONFIG_DEMO1
        #     bool "Driver qsci_ADAPTER config demo 1"

        # config DRIVER_qsci_ADAPTER_CONFIG_DEMO2
        #     bool "Driver qsci_ADAPTER config demo 2"
    endif
