# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "Sensor Drivers"
config MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options
    bool
    select MCUX_COMPONENT_driver.flexcomm_i2c if MCUX_HAS_COMPONENT_driver.flexcomm_i2c
    select MCUX_COMPONENT_driver.i2c if MCUX_HAS_COMPONENT_driver.i2c
    select MCUX_COMPONENT_driver.ii2c if MCUX_HAS_COMPONENT_driver.ii2c
    select MCUX_COMPONENT_driver.lpc_i2c if MCUX_HAS_COMPONENT_driver.lpc_i2c
    select MCUX_COMPONENT_driver.lpc_i2c_1 if MCUX_HAS_COMPONENT_driver.lpc_i2c_1
    select MCUX_COMPONENT_driver.lpflexcomm_lpi2c if MCUX_HAS_COMPONENT_driver.lpflexcomm_lpi2c
    select MCUX_COMPONENT_driver.lpi2c if MCUX_HAS_COMPONENT_driver.lpi2c
    select MCUX_COMPONENT_driver.dsc_i2c if MCUX_HAS_COMPONENT_driver.dsc_i2c
    select MCUX_COMPONENT_driver.dsc_lpi2c if MCUX_HAS_COMPONENT_driver.dsc_lpi2c

config MCUX_COMPONENT_driver.fxas21002cq
    bool "fxas21002cq"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.fxls8974cf
    bool "fxls8974cf"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.fxos8700cq
    bool "fxos8700cq"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.htu21d
    bool "htu21d"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.icm42688p
    bool "icm42688p"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.max30101
    bool "max30101"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.mma8451q
    bool "mma8451q"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.mma8652fc
    bool "mma8652fc"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.mpl3115a2
    bool "mpl3115a2"
    select MCUX_COMPONENT_driver.common
    select MCUX_COMPONENT_driver.timer_lptmr
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.p3t1755
    bool "p3t1755"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.tsl2561
    bool "tsl2561"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options

config MCUX_COMPONENT_driver.lsm6dso
    bool "lsm6dso"
    select MCUX_COMPONENT_driver.common
    select MCUX_DEPENDENCY_COMPONENT_component.sensor_use_i2c_dependency_options
endmenu
