# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.codec_i2c
    bool
    select MCUX_COMPONENT_component.i2c_adapter_interface

config MCUX_COMPONENT_driver.codec
    bool

config MCUX_COMPONENT_component.codec_adapters
    bool

config MCUX_COMPONENT_component.wm8904_adapter
    bool

config MCUX_COMPONENT_component.wm8960_adapter
    bool

config MCUX_COMPONENT_component.wm8962_adapter
    bool

config MCUX_COMPONENT_component.wm8524_adapter
    bool

config MCUX_COMPONENT_component.sgtl_adapter
    bool

config MCUX_COMPONENT_component.da7212_adapter
    bool

config MCUX_COMPONENT_component.ak4497_adapter
    bool

config MCUX_COMPONENT_component.tfa9xxx_adapter
    bool

config MCUX_COMPONENT_component.tfa9896_adapter
    bool

config MCUX_COMPONENT_component.cs42888_adapter
    bool

config MCUX_COMPONENT_component.cs42448_adapter
    bool

config MCUX_COMPONENT_component.pcm186x_adapter
    bool

config MCUX_COMPONENT_component.pcm512x_adapter
    bool

config MCUX_COMPONENT_driver.ak4497
    bool "Use ak4497 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.ak4497_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.cs42448
    bool "Use cs42448 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.cs42448_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.cs42888
    bool "Use cs42888 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.cs42888_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.dialog7212
    bool "Use da7212 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.da7212_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.pcm186x
    bool "Use pcm186x codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.pcm186x_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.pcm512x
    bool "Use pcm512x codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.pcm512x_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.sgtl5000
    bool "Use sgtl5000 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.sgtl_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.tfa9xxx
    bool "Use tfa9xxx codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.tfa9xxx_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.tfa9xxx_hal
    bool "Use tfa9xxx_hal codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.tfa9xxx
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.tfa9896
    bool "Use tfa9896 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.tfa9896_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.wm8524
    bool "Use wm8524 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.wm8524_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.wm8904
    bool "Use wm8904 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.wm8904_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.wm8960
    bool "Use wm8960 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.wm8960_adapter
    select MCUX_COMPONENT_component.codec_adapters

config MCUX_COMPONENT_driver.wm8962
    bool "Use wm8962 codec driver"
    select MCUX_COMPONENT_component.codec_i2c
    select MCUX_COMPONENT_driver.codec
    select MCUX_COMPONENT_component.wm8962_adapter
    select MCUX_COMPONENT_component.codec_adapters
