# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "wifi_bt_module"
    config MCUX_COMPONENT_component.wifi_bt_module.tx_pwr_limits
        bool "tx_pwr_limits"
    config MCUX_COMPONENT_component.wifi_bt_module.config
        bool "config"
endmenu