config DT_HAS_NXP_IMX_FLEXSPI_ENABLED
    bool
    default y
config DT_HAS_NXP_LPC_SYSCON_ENABLED
    bool
    default y
config DT_HAS_NXP_MCI_IO_MUX_ENABLED
    bool
    default y
config DT_HAS_NXP_IMX_FLEXSPI_NOR_ENABLED
    bool
    default y

select CLOCK_CONTROL
