# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_driver.rtt.template
    bool "rtt.template"

config MCUX_COMPONENT_driver.rtt
    bool "rtt"
    select MCUX_COMPONENT_driver.rtt.template
