# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_driver.rtt.template
    bool "Component driver.rtt.template"
    
config MCUX_COMPONENT_driver.rtt
    bool "Component driver.rtt"
    select MCUX_COMPONENT_driver.rtt.template
    