# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.spi_adapter
    bool "Use spi adapter"
    select MCUX_COMPONENT_driver.spi
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.spi

    if MCUX_COMPONENT_component.spi_adapter
        # config DRIVER_spi_ADAPTER_CONFIG_DEMO1
        #     bool "Driver spi_ADAPTER config demo 1"

        # config DRIVER_spi_ADAPTER_CONFIG_DEMO2
        #     bool "Driver spi_ADAPTER config demo 2"
    endif



config MCUX_COMPONENT_component.dspi_adapter
    bool "Use dspi adapter"
    select MCUX_COMPONENT_driver.dspi
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.dspi
    if MCUX_COMPONENT_component.dspi_adapter
        # config DRIVER_dspi_ADAPTER_CONFIG_DEMO1
        #     bool "Driver dspi_ADAPTER config demo 1"

        # config DRIVER_dspi_ADAPTER_CONFIG_DEMO2
        #     bool "Driver dspi_ADAPTER config demo 2"
    endif



config MCUX_COMPONENT_component.lpspi_adapter
    bool "Use lpspi adapter"
    select MCUX_COMPONENT_driver.lpspi
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.lpspi
    if MCUX_COMPONENT_component.lpspi_adapter
        # config DRIVER_lpspi_ADAPTER_CONFIG_DEMO1
        #     bool "Driver lpspi_ADAPTER config demo 1"

        # config DRIVER_lpspi_ADAPTER_CONFIG_DEMO2
        #     bool "Driver lpspi_ADAPTER config demo 2"
    endif



config MCUX_COMPONENT_component.flexcomm_spi_adapter
    bool "Use flexcomm_spi adapter"
    select MCUX_COMPONENT_driver.flexcomm_spi
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.flexcomm_spi
    if MCUX_COMPONENT_component.flexcomm_spi_adapter
        # config DRIVER_flexcomm_spi_ADAPTER_CONFIG_DEMO1
        #     bool "Driver flexcomm_spi_ADAPTER config demo 1"

        # config DRIVER_flexcomm_spi_ADAPTER_CONFIG_DEMO2
        #     bool "Driver flexcomm_spi_ADAPTER config demo 2"
    endif

