# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.common_task
    bool "common_task"
    default n
    help
        Enable component.common_task component
    select MCUX_COMPONENT_component.osa

