# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "ELE Base API"

    config MCUX_COMPONENT_component.ele_base_api
        bool "Component component.ele_base_api"
        select MCUX_COMPONENT_driver.s3mu

endmenu
